<!-- homepage -->

{% extends 'base.html' %}
{% load static %}

{% block extend_head %}
{% endblock extend_head %}


{% block content %}

<h3>Django Google API</h3>

<div class='container'>
    <h4>User account details</h4>
    <table>
        <thead>
            <tr>
                <th>
                    <!--table head-->
                    Field
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <!--table row-->
                <td>Username</td>
                <!--table data-->
                <td>{{ request.user.username }}</td>
            </tr>

            <tr>
                <!--table row-->
                <td>Name</td>
                <td>
                    {{ request.user.first_name|title }} {{ requset.user.last_name|title }}
                </td>
            </tr>

            {% if request.user.userprofile.has_profile %}
            <!--existing account-->

            <tr>
                <td>Address</td>
                <td>
                    <address>
                        {{ request.user.userprofile.address }}<br>
                        {{ request.user.userprofile.town }}<br>
                        {{ request.user.userprofile.country }}<br>
                        {{ request.user.userprofile.country }}<br>
                    </address>
                </td>
            </tr>

            {% else %}
            <!--new user-->
            <tr>
                <td>User Profile</td>
                <td><a href="{% url 'users:profile' %}">Create User Profile</a></td>
            </tr>
            {% endif %}
        </tbody>
    </table>

</div>

{% endblock content%}

{% block extend_footer %}

{% endblock extend_footer %}